@import 'reset.css';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #F0F1F3;
}

.page {
  width: 350px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px 15px 15px 15px;
  margin: 100px 30px;
}

.nav-bar {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

span {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

button {
  border: none;
}


/* artist */
.playlist_artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.playlist_artist img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.playlist_artist h1 {
  font-weight: 800;
  font-size: 20px;
  margin: 25px 0 5px 0;
}


/* playlist button  */
.playlist_btn {
  display: flex;
 margin-bottom: 30px;
}

.playlist_btn button {
  border-radius: 20px;
  height: 40px;
  width: 100px;
}

.playlist_btn button:first-child {
  background-color: black;
  color: white;
  margin-right: 10px;
}


.playlist_btn button:last-child {
  background-color:white;
}


/* playlist lists */
.playlist_lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.playlist_items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  padding: 5px 0;
}

.playlist_items img{
  height: 60px;
  width: 60px; 
  border-radius: 5px;
  margin-right: 10px;
}

.playlist_text {
  width: 60%;
}

.playlist_text h2{
  margin-top: 5px;
  font-size: 14px;
  font-weight:700;
}

.playlist_items i{
  color: rgba(0, 0, 0, 0.3);
  width: 20%;
  text-align: right;
}


/* playlist now */
.playlist_now {
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 1000px;
  color: white;
  padding: 10px 30px;
  margin-top: 5px;
}

.playlist_now_text span{
  color: lightgray;
  font-size: 12px;
}

.playlist_now_text h3 {
  font-size: 13px;
  margin-top: 5px;
}

.playlist_now_player {
  display: flex;
  align-items: center;
}

.playlist_now_player i {
  font-size: 10px;
}
.playlist_now_player i:nth-child(2) {
  font-size: 18px;
  margin: 0 20px 0;
}


/* ///////////////////////////////////////////*/

/* 2nd page */

.now-playing {
  padding-bottom: 50px;
}


/* now playing song  */
.now-playing_song {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.now-playing_song img{
  margin: 40px 0 60px 0;
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

.now-playing_song h1 {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 10px;
}

.now-playing_song span {
  font-size: 15px;
  font-weight: 600;
}


/* play bar time */
.now-playing_time {
  display: flex;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  margin-top: 30px;
}


/* play bar */
.now-playing_bar {
  display: flex;
  width: 95%;
  margin: 5px 0;
}

.now-playing_bar div:first-child{
  width: 220px;
  border: 2px solid black;
  background-color: black;
  border-radius: 5px;
}

#dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: relative;
  background-color:black;
  position: relative;
  bottom: 12px;
  left: 60px;

}

.now-playing_bar div:last-child{
  width: 100px;
  border: 2px solid lightgrey;
  background-color: lightgrey;
  border-radius: 5px;
}



/* play button  */
.now-playing-player {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-around;  
  align-items: center;
  font-size: 20px;
}

.now-playing-player img {
  height: 20px;
  width: 20px;
}

.now-playing-player button {
  background-color: black;
  color: white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 25px;
}

.now-playing-player button i{
  position: relative;
  left: 2px;
}