@import 'reset.css';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-color: #F0F1F3;
}

.page {
  height: 800px;
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.span {
  color: rgba(0, 0, 0, 0.4);
}

button {
  border: none;
}


/* artist */
.playlist_artist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist_artist img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.playlist_artist h1 {
  font-weight: 800;
  font-size: 30px;
}


/* playlist button  */
.playlist_btn {
  display: flex;
}

.playlist_btn button {
  padding: 10px 20px;
  border-radius: 20px;
}

.playlist_btn button:first-child {
  background-color: black;
  color: white;
}


/* playlist lists */
.playlist_lists {
  display: flex;
  flex-direction: column;
}

.playlist_items {
  display: flex;
}

.playlist_items img{
  height: 80px;
  width: 80px; 
  border-radius: 5px;
}

.playlist_items i{
  color: rgba(0, 0, 0, 0.4);
}


/* playlist now */
.playlist_now {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-radius: 20px;
  color: white;
}


.playlist_now_player i:nth-child(2) {
  font-size: 18px;
}


/* 2nd page */
.now-playing_song {
  display: 
}